body {
    background-color: #404040;
    color: #bcbcbc;
    font-family: "Lucida Sans Unicode", sans-serif;
}

a, a:visited {
    color: #b6a95c;
    text-decoration: none;
}

a:hover {
    color: #d5c772;
}

#topbar_nav {
    width: 100%;
    text-align: right;
}
#topbar_nav ul li {
    display: inline;
    padding-right: 15px;
}

#header {
    margin-left: 20px;
}

#page_body {
    margin-bottom: 10px;
    display: flex;
    background-color: #585858;
}

#sidebar {
    border-right-style: solid;
    border-width: 1px;
    border-color: #404040;
    width: 170px;
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}

#page_content {
    margin-left: 10px;
    padding: 20px;
    width: 100%;
}
#page_content h1, h2 {
    margin: 0;
}

#footer {
    padding-left: 10px;
    text-align: center;
}