{% extends "yawg/layout.html" %}
{% block header %}
    <h1>{{ gallery.gallery_name }}</h1>
{% endblock %}
{% block sidebar %}
    <ul>
        <li><a href="#">Add album</a> </li>
    </ul>
{% endblock %}
{% block content %}
    <h1>Browse: {{ listed_item.gallery_name }}</h1>
    <div id="listing_content">
        <table id="browse_table">
            {% for i in gallery_items %}
                {% if forloop.counter0|divisibleby:3 %}<tr>{% endif %}
                    <td>
                        <a href="{{ i.item_object.browse_url }}">{{ i.item_object.gallery_name }}</a>
                    </td>
                {% if forloop.counter|divisibleby:3 or forloop.last %}</tr>{% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
