<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load static %}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{% static "yawg/css/yawg.css" %}">
        <title>{% block html_title %}{% endblock %}</title>
        {% block html_head %}{% endblock %}
    </head>

    <body>
        <div id="topbar_nav">
            <ul>
                <li>nana</li>
                <li>na</li>
                <li><a href="#">nana</a> </li>
            </ul>
        </div>
        <div id="header">
            <h1>gallery</h1>
        </div>
        <div id="page_body">
            <div id="sidebar">
                nana
            </div>
            <div id="page_content">
                <h2>content</h2>
            </div>
        </div>
        <div id="footer">yawg</div>
        {% block html_body %}{% endblock %}
    </body>
</html>